#gc_address_new_content{
    display:none;
}

#gc_address_new_content.active{
    display:block;
}

.gc_cleaning_products .media{
    font-size:16px;
    border:2px solid #eaeaea;
    padding:20px;
}

.gc_cleaning_products .media .media-object{
    width:223px;
    height:200px;
}

.gc_cleaning_products .media .media-body{
    padding:0 20px;
}

.gc_cleaning_products .media .media-body .media-heading{
    color: #C02D28;
}

.gc_address .invoice .list-unstyled{
    border:2px solid #eaeaea;
}

.gc_address .invoice .list-unstyled>li{
    padding:10px 20px;
    font-size:16px;
}

.gc_address .invoice .list-unstyled>li span:nth-child(1){
    font-size:20px;
}

.gc_address .invoice .list-unstyled>li i{
    cursor:pointer;
    color:#eaeaea;
}

.gc_address .invoice .list-unstyled>li i.active {
    color: #c02d28;
}

.gc_address .invoice .list-unstyled>li .form-control{
    width:50%; display:inline-block;
}