.gc-comment{
    margin-top:10px;
    padding:85px 0;
    position: relative;
}

.gc-comment>img{
    position:absolute;
    right:0;
    top:-12px;
    width: 95%;
    z-index: 1;
}

.gc-comment .gc-comment-inner{
    width:900px;
    margin:0 auto;
    position: relative;
    margin-bottom:87px;
}

.gc-comment .gc-comment-inner .item{
    width:720px;
    height:163px;
    background-color:#F1EFEF;
    position: relative;
    z-index: 2;
    padding:25px 25px 0 140px;
}

.gc-comment .gc-comment-inner .item>img{
    position: absolute;
    top:-30px;
    left:-30px;
}

.gc-comment .gc-comment-inner .item .list-inline{
    margin-top:15px;
}

.gc-comment .gc-comment-inner .item .list-inline>li{
    width:120px;
    margin-right:115px;
    border-right:1px solid #888888;
    height:25px;
    line-height: 25px;
}

.gc-comment .gc-comment-inner .item .list-inline>li:nth-child(3){
    margin-right:0;
    width:auto;
    border-right:1px solid transparent;
}

.gc-comment .gc-comment-inner .timer{
    position: absolute;
    right:20px;
    top:58px;
    color:#333333;
    z-index: 2;
    font-size:40px;
}

.gc-comment .gc-comment-inner:nth-child(2) .timer{
    color:#fff;
}






