.gc_mall{
    position: relative;
}

.gc_mall .carousel-indicators .active {
    width: 15px;
    height: 15px;
    background-color:rgba(192,45,40,0.8);
}

.gc_mall .carousel-indicators li{
    background-color:rgba(234,234,234,1);
    width: 15px;
    height: 15px;
    margin-right:40px;
}

/* 轮播图 */
.gc_mall .carousel-inner .item .item_inner{
    position: absolute;
    left:30px;
    top:10px;
    background-color:rgba(255,255,255,0.8);
    padding:30px;
}

.gc_mall .carousel-inner .item .item_inner>h1{
    font-size:45px;
}

.gc_mall .carousel-inner .item .item_inner .item_desc{
    margin-top:80px;
}

.gc_mall .carousel-inner .item .item_inner .item_desc>li{
    margin-right:60px;
}

.gc_mall .carousel-inner .item .item_inner .item_desc>li:nth-child(3){
    margin-right:0;
}

.gc_mall .carousel-inner .item .item_inner .item_icon{
    margin-top:50px;
}

.gc_mall .carousel-inner .item .item_inner .item_icon>li{
    margin-right:65px;
}

.gc_mall .carousel-inner .item .item_inner .item_icon>li>a{
    padding:10px 30px;
    font-size:16px;
    color:#333;
    border:1px solid #333;
}

.gc_mall .mall_title{
    height:200px;
    padding:50px 0;
    text-align: center;
}

.gc_mall .mall_title>span{
    font-size:30px;
    display: block;
}

.gc_mall .mall_1{
    width:100%;
    height:500px;
    position:relative;
}

.gc_mall .mall_1 .media{
     position:absolute;
     display:inline-block;
     width:560px;
     height:410px;
     background-color: #F8F8F8;
     padding:30px;
     top:0;
     margin-top:0;
 }

.gc_mall .mall_1 .media-1{
     left:-280px;
 }

.gc_mall .mall_1 .media-2{
    left:300px;
}

.gc_mall .mall_1 .media-3{
    left:880px;
}

.gc_mall .mall_1 .media .media-body .media-heading{
    position: relative;
}

.gc_mall .mall_1 .media .media-body .media-inner{
    margin-top:50px;
    position:relative;
}

.gc_mall .mall_1 .media .mall-media-icon{
    position: absolute;
    left:20px;
    top:10px;
    color:#fff;
}

.gc_mall .mall_1 .media .media-object{
    width:277px;
    height:248px;
}

.gc_mall .mall_1 .media .mall-media-icon .icon-c{
    display: inline-block; width:8px; height:8px;
    border-radius: 50%; background-color:#fff;
    vertical-align: middle;
}

.gc_mall .mall_1 .media .mall-media-icon .icon-t{
    font-size:26px;
}

.gc_mall .mall_1 .media .mall-media-icon .icon-y{
    font-size:20px
}

.gc_mall .mall_1 .carousel-indicators>li{
    width:85px;
    height:5px;
    border-radius:0;
}

.mall_deadline li{
    font-size:20px;
}

.mall_deadline .timer h3{
    padding:5px 8px;
    background-color:#333;
    color:#fff;
    border-radius: 10px;

}

/* 商品 */
.gc_mall .mall_goods{
    padding:0 60px;
}

.gc_mall .mall_goods>.goods_item{
    width:350px;
    height:575px;
    background-color:#F4F4F4;
    display:inline-block;
    vertical-align: top;
    margin-right:7px;
    margin-bottom: 35px;
    padding:15px;
}

.gc_mall .mall_goods>.goods_item .item-desc{
    margin-top: 35px;
}

.gc_mall .mall_goods>.goods_item .item-desc p{
    font-size: 22px;
}

.gc_mall .mall_goods>.goods_item .item-desc h4{
    text-align: end;
}

.gc_mall .mall_goods>.goods_item .item-desc hr{
    border-top:2px solid #dcdcdc;
}

.gc_mall .mall_goods>.goods_item .item-desc .list-inline{
    margin-top:35px;
}

.gc_mall .mall_goods>.goods_item .item-desc .list-inline>li{
    vertical-align: top;
}

.gc_mall .mall_goods>.goods_item .item-desc .list-inline>li:nth-child(1)>a{
    padding:10px 30px;
    font-size:16px;
    border:2px solid #D0BFB1;
    color:#333333;
    text-decoration: none;
}

.gc_mall .mall_goods>.goods_item .item-desc .list-inline>li:nth-child(2)>a{
    padding:10px 8px;
    font-size:16px;
    color:#fff;
    background-color:#C02D28;
    border:2px solid #C02D28;
}