/* 广告轮播图*/
.gc_ad{
    width:100%;
    height:auto;
    overflow: hidden;
}

.gc_ad .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color:rgba(192,45,40,0.8);
}

.gc_ad .carousel-indicators li{
    background-color:rgba(234,234,234,1);
    width: 12px;
    height: 12px;
    margin:0;
}

/* 投放情况*/
.gc_detail{
    width:100%;
    height:auto;
    padding-top:20px;
    padding-bottom:70px;
}

.gc_detail>.list-inline{
    width:1070px;
    margin:0 auto;
}

.gc_detail>.list-inline>li{
    width:339px;
    height:140px;
    margin-right:23px;
    background:url("../imgs/index/bycircle_sm.png") 0 0 no-repeat;
    padding:30px 0;
    padding-left:160px;
}

.gc_detail>.list-inline>li:nth-last-child(1){
    margin-right:0;
    background:url("../imgs/index/bycircle_sm_red.png") 0 0 no-repeat;
}

.gc_detail>.list-inline>li>span{
    display:block;
}

.gc_detail>.list-inline>li>span:nth-child(1){
    font-size:22px;
    color:#333333;
    opacity: 0.6;
}

.gc_detail>.list-inline>li>span:nth-child(2){
    font-size:33px;
    color:#333333;
}

.gc_detail>.list-inline>li:nth-last-child(1)>span{
    color:#fff;
}

.gc_detail>.gc_detail_inner{
    width:1070px;
    padding:70px 15px 0 15px;
    margin:0 auto;
}

.gc_detail>.gc_detail_inner .pull-left>.list-inline{
    margin:0;
}

.gc_detail>.gc_detail_inner .pull-left>.list-inline>li{
    width:12px;
    height:12px;
    border-radius: 50%;
    border:1px solid #ececec;
    margin-right:10px;
}

.gc_detail>.gc_detail_inner .pull-left>.list-inline>li:nth-child(1){
    background-color:#c59a70;
}

.gc_detail>.gc_detail_inner .pull-left>.list-inline>li:nth-child(2){
    background-color:#fff;
}

.gc_detail>.gc_detail_inner .pull-left>.list-inline>li:nth-child(3){
    background-color:#65bdd2;
}

.more{
    background:url("../imgs/index/add_more.png") 0 0 no-repeat;
    text-align: start;
    color:#333333;
    padding:0 0 5px 10px;
    line-height:30px;
    text-decoration: none;
}

.more:hover{
    color:#333333;
}

.gc_detail>.gc_detail_inner .index_deadline{
    position: relative;
    z-index:1;
}

.gc_detail>.gc_detail_inner .index_deadline img{
    height:330px;
    width:500px;
    margin-top:50px;
}

.gc_detail>.gc_detail_inner .index_deadline>.list-inline{
    position: absolute;
    right:220px;
    top:-20px;
}

.gc_detail>.gc_detail_inner .index_deadline>.list-inline>li{
    font-size:24px;
}

.gc_detail>.gc_detail_inner .index_deadline>.list-inline>li.timer>h3{
    text-align:start;
    color:#fff;
    width:30px;
    height: 30px;
    border-radius: 10px 15px 15px 10px;
    background-color:#333;
    line-height:30px;
}

.gc_detail>.gc_detail_inner .inner-content{
    width:400px;
    height:auto;
    margin:0 auto;
}

.gc_detail>.gc_detail_inner .inner-content h3{
    line-height: 1.5;
}

.gc_detail>.gc_detail_inner .inner-content h5{
    font-weight: 600;
}

.gc_detail>.gc_detail_inner .pull-right{
    padding-right:50px;
    position: relative;
    z-index: 2;
}

.gc_detail>.gc_detail_inner .pull-left h4{
    color:#C02D28;
    margin:20px 0;
}

.gc_detail>.gc_detail_inner .pull-left h4:nth-child(1){
    margin-bottom:50px;
}

.gc_detail>.gc_detail_inner .pull-left h4.active{
    color:#888888;
    text-decoration: line-through;
}

.gc_detail>.gc_detail_inner .carousel-inner .pull-right,.gc_detail>.gc_detail_inner .carousel-inner .pull-left{
    padding-top:100px;
}

.gc_detail>.gc_detail_inner .pull-right>h2{
    color:#c02d28;
}

.gc_detail>.gc_detail_inner .pull-right>a{
    width:90px;
    color:#333333;
    border:1px solid #c02d28;
    margin-top:30px;
    height:25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    position: relative;
    display: block;
    font-size:12px;
}

.gc_detail>.gc_detail_inner .pull-right>a:nth-child(2){
    color:#c02d28;
}

.gc_detail>.gc_detail_inner .pull-right>a+a{
    /*background-color: #c02d28;*/
    border:1px solid #333333;
}

.gc_detail>.gc_detail_inner .pull-right>a+a>i{
    position: absolute;
    width:25px;
    height:25px;
    line-height: 25px;
    left:-25px;
    top:-1px;
    color:#fff;
    background-color:#C02D28;
}

.gc_detail_inner .products_indicators{
    width:100%;
    height:auto;
    position: relative;
}

.gc_detail_inner .products_indicators li{
    cursor: pointer;
}

.gc_detail_inner .products_indicators .carousel-control{
    font-size:50px;
    top:40px;
    color:#9b9b9b;
    cursor: pointer;
}

/* 互动区 */
.gc_index_hd{
    width:100%;
    height:auto;
    z-index:1;
    position: relative;
}

.gc_index_hd .hd_title{
    width:100%;
    height:88px;
    background: url("../imgs/index/index_hd.png") 0 0 no-repeat;
    line-height:88px;
}

.gc_index_hd .hd_title>span{
    font-size:30px;
    color:#fff;
}

.gc_index_hd .hd_inner{
    width:950px;
    height:auto;
    margin:0 auto;
    padding:60px 0;
}

.gc_index_hd .hd_inner .hd_item{
    width: 100%;
    padding:0 80px;
    margin-bottom:65px;
    position: relative;
}

.gc_index_hd .hd_inner .hd_item .img_title{
    position: absolute;
    left:17px;
    top:-40px;
    z-index:2;
    width:115px;
    height:115px;
}

.gc_index_hd .hd_inner .hd_item .hd_item_h{
    background-color:#F8F8F8;
    padding:20px 40px 20px 100px;
    position: relative;
}

.gc_index_hd .hd_inner .hd_item .hd_item_h .hd_item_des{
    background-color:#EEEEEE;
    padding:20px;
    margin-bottom: 30px;
}

.gc_index_hd .hd_inner .hd_item .hd_item_h .hd_item_des>h5{
    color:#888888;
}

.gc_index_hd .hd_inner .hd_item .hd_item_h .hd_item_des .hd_item_img{
    margin:10px 0;
}

.gc_index_hd .hd_inner .hd_item .hd_item_h .hd_item_des .hd_item_img>img{
    margin-bottom:5px;
    margin-right:5px;
    width:150px;
    height:150px;
}

.gc_index_hd .hd_inner .hd_item .hd_item_h .hd_item_comment>li{
    width:200px;
    border-right:1px solid #888888;
    cursor:pointer;
}

.gc_index_hd .hd_inner .hd_item .hd_item_h .hd_item_comment>li span{
    vertical-align: bottom;
    margin-left:10px;
}

.gc_index_hd .hd_inner .hd_item .hd_item_h .hd_item_comment>li:nth-child(3){
    border-right:1px solid transparent;
}

.gc_index_hd .hd_inner .hd_item .hd_item_comment_inner{
    margin-top:5px;
    border:2px solid #fff;
    padding:20px;
    position: relative;
    background-color: #F8F8F8;
    display:none;
}

.gc_index_hd .hd_inner .hd_item .hd_item_comment_inner .hd_icon{
    position: absolute; top:-47px; left:375px; z-index:2;
}

.gc_index_hd .hd_inner .hd_item .hd_item_comment_inner .hd_icon>.iconfont{
    font-size:45px; color:#fff;
}

.gc_index_hd .hd_inner .hd_item .hd_item_comment_inner .hd_icon_inner{
    position: absolute; top:-36px; left:378px;z-index:2;
}

.gc_index_hd .hd_inner .hd_item .hd_item_comment_inner .hd_icon_inner .iconfont{
    font-size:38px; color:#F8F8F8;
}

.gc_index_hd .hd_inner .hd_item .hd_item_comment_inner .media-object{
    width:50px;
}

.gc_index_hd .hd_inner .hd_item .hd_item_comment_inner .media-body .hd_comment_content{
    background-color: #EEEEEE;
    padding:10px;
}

.gc_index_hd .hd_inner .hd_item .hd_item_comment_inner .media-body hr{
    border-top:2px solid #F2F2F2;
}

.gc_index_hd .hd_inner .hd_item .hd_item_comment_inner .hd_more>a{
    color:#333; font-size:16px; opacity: 0.6;
}