body{
    background-color:#F1F0F0;
    font-size:12px;
}

.layout{
    width:1200px;
    margin:0 auto;
}

aside{
    background-color:#fff;
}

.btn-index{
    font-size:18px; color:#fff;
    background-color:#c02d28;
    width:130px;
    height:60px;
    line-height:60px;
    text-align: center;
    text-decoration: none;
    background:url("../imgs/index/btn-index.png") 0 0 no-repeat;
    position: relative;
    z-index:3;
}

.btn-index:hover{
    color:#333;
}

.btn-index:hover{
    text-decoration: none;
    color:#fff;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.gc_divided{
    position: relative;
}

.gc_divided h5{
    position: absolute;
    left: 45%;
    top:-20px;
    width:115px;
    height:30px;
    line-height:30px;
    background-color:#fff;
}

a:hover,a:visited,a:focus{
    text-decoration: none;
}

/* 轮播图*/
#myCarousel .carousel-inner .item img{
    width:100%;
}

/* header */
header{
    background-color:#333333;
    height:70px;
    line-height:70px;
    position: relative;
    z-index: 2;
}

header .navbar-header>a:hover{
    text-decoration: none;
}

header .navbar-header span{
    color:#fff;
    margin-left:30px;
    font-size:26px;
    vertical-align: top;
}

header .list-inline>li{
    padding:0 15px;
    margin:0;
}

header .list-inline>li:hover{
    background-color:rgba(191,191,191,0.1);
    cursor:pointer;
}

header .list-inline>li:nth-last-child(1){
    background-color:rgba(191,191,191,0.1);
    cursor:pointer;
}

header .list-inline>li:hover>a{
    text-decoration: none;
}

header .list-inline>li>a{
    color:#fff;
    font-size:18px;
    position: relative;
    display: inline-block;
}

header .list-inline>li.active>a{
    color:#C02D28;
}

header .list-inline>li>a .alert {
    position: absolute;
    right: -10px;
    top: 10px;
    font-size: 12px;
    padding: 3px;
    background-color: #C02D28;
    display: inline;
    border-radius: 50%;
    line-height: 1;
}

header .dropdown-menu{
    top:90%;
    min-width:0;
    background-color:#333333;
    border-radius: 0;
}

header .dropdown-menu>li>a {
    padding: 10px 13px;
    background-color: #333333;
    color: #fff;
}

header .dropdown-menu>li>a:hover{
    background-color:#C02D28;
    color:#fff;
}

header .dropdown-menu>li{
    margin-top:-5px;
}

header .gc_notice .dropdown-menu{
    left:auto;
    right:-4px;
    border:none;
    min-width:300px;
    background-color:#fff;
    padding:0;
    display:none;
}

header .gc_notice:hover .dropdown-menu{
    display: block;
}

header .gc_notice .dropdown-menu .notice-inner{
    padding:8px 15px;
    position: relative;
}

header .gc_notice .dropdown-menu .notice-inner .iconfont{
    position: absolute;
    top:-40px;
    right:20px;
    color:#fff;
}

header .gc_notice .dropdown-menu .notice-inner .notice-item img{
    width:50px;
    height:50px;
}

/* footer */
footer{
    width:100%;
    height:205px;
    background-color:#333333;
    color:#fff;
}

.footer-container{
    padding:30px 130px 0 130px;
}

.footer-container>.list-unstyled{
    display: inline-block;
    margin-right:70px;
    vertical-align: top;
}

.footer-container>.list-unstyled>li{
    padding:5px 0;
}

.footer-container>.list-unstyled>li:nth-child(1){
    padding:10px 0;
}

.footer-container>.list-unstyled:nth-child(3){
    margin-right:150px;
}

.footer-container>.list-unstyled>li>span{
    color:#fff;
    font-size:16px;
}

.footer-container>.list-unstyled>li>a{
    color:#888888;
    text-decoration: none;
}

/* 评论 */
.comment_ct>li{
    position: relative;
    font-size:20px;
    margin-right: 20px;
    color: #CACACA;
}

.comment_ct>li:after{
    content:'';
    position: absolute;
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:#eaeaea;
    right:-15px;
    top:25%;
}

.comment_ct>li:nth-child(3):after{
    background-color:transparent;
}

.comment_ct>li:nth-child(4):after{
    background-color:transparent;
}

.comment_ct>li>i{
    font-size:20px;
}

/* 收货地址 */
.gc_address .gc_address_new{
    height:84px;
    width:100%;
    border:2px dashed #eaeaea;
    line-height: 84px;
    font-size:20px;
    cursor: pointer;
}

.gc_address .gc_address_new_content{
    width:100%;
    height:650px;
    border:2px dashed #eaeaea;
    margin:20px 0;
    padding:60px 45px;
}

.gc_address .gc_address_new_content>h4{
    margin:40px 0;
}

.gc_address .gc_address_new_content input{
    height:40px;
    margin-left:20px;
    padding-left:10px;
    outline:none;
}

.gc_address .gc_address_new_content select{
    width:180px;
    height:40px;
    margin-right:20px;
    margin-left:20px;
}

.gc_address .gc_address_new_content>h4:nth-child(1) input{
    margin-left:40px;
}

.gc_address .gc_address_new_content>h4:nth-child(5){
    margin-left:100px;
}

.gc_address .gc_address_new_content>h3{
    width:450px;
    margin:0 auto;
}

.gc_address .gc_address_new_content>h3 .btn{
    padding:10px 70px;
    font-size:18px;
    border-radius: 0;
    margin-right:65px;
}

.gc_address .gc_address_new_content>h3 .btn:nth-child(2){
    margin-right:0;
}

.gc_address .gc_address_inner{
    padding:20px 40px;
}

.gc_address .gc_address_inner .item{
    margin:20px 0;
    width:100%;
    height:174px;
    border:2px solid #eaeaea;
}

.gc_address .gc_address_inner .item .item_header{
    writing-mode: tb-rl;
    padding:49px 15px;
    font-size: 18px;
    background-color:#eaeaea;
    display: inline-block;
}

.gc_address .gc_address_inner .item .item_header.active{
    background-color:#C02D28;
    color:#fff;
}

.gc_address .gc_address_inner .item .item_detail{
    display: inline-block;
    padding:30px;
    vertical-align: top;
}

.gc_address .gc_address_inner .item .item_detail>h4:nth-child(1) {
    font-weight: 700;
}

.gc_address .gc_address_inner .item .item_opera{
    width:174px;
    height:170px;
    padding-top:50px;
    background-color:#fafafa;
}

.gc_address .gc_address_inner .item .item_opera i {

    font-size: 22px;
}



